.dedicated-head {
    display: flex;
    margin-top: 2rem;
}

.dedicated-left {
    margin: 5rem;
    margin-right: 5rem;
}

.dedicated-right {
    width: -moz-available;
}

.dedicated-head-heading {
    color: var(--black);
    font-size: var(--extralg-font);
    margin-top: 20px;
    margin-bottom: 20px;
}

.dedicated-head-text {
    color: var(--black);
    font-size: var(--large-font);
    margin-bottom: 20px;
    margin: 5px;
}

.dedicated-head-button {
    max-width: 150px;
}

@media only screen and (max-width: 480px) {
    .dedicated-head {
        flex-direction: column;
        margin-top: 0;
    }

    .dedicated-left {
        margin: 2rem;
    }

    .dedicated-right {
        margin: 1rem;
        padding: 1rem;
    }

    .dedicated-head-image {
        max-width: -moz-available;
    }
    
}