.coverage-right {
    display: flex;
    flex-direction: column;
    margin: auto;
    float: right;
}


.country-flag {
    height: 40px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.coverage {
    display: flex;
    margin: 50px;
}

.country-flags {
    display: flex;
    margin: 20px;
    justify-content: space-evenly;
}

.coverage-heading {
    color: var(--black);
    font-size: var(--extralg-font);
    font-weight: var(--superthick-font);
}

.coverage-left {
    margin: auto;
    max-width: 45%;
    display: flex;
    flex-direction: column;
}

.country-name {
    margin: auto;
}

.coverage-country {
    display: flex;
    margin: 5px;
    margin-right: 40px;
}