.contact-card {
    display: flex;
    flex-direction: column;
    margin: 20px;
    border: 1px solid var(--green);
    border-radius: 5px;
    padding: 25px;
    align-items: center;
}

.contact-card:hover {
    box-shadow: 0px 0px 5px 1px var(--green);
    transition: 300ms;
}

.contact-card-img {
    height: 150px;
}

.contact-card-heading {
    color: var(--black);
    margin-bottom: 10px;

}
.contact-card-text {
    color: var(--black);
    text-align: center;
    word-spacing: 2px;
}