* {
  margin: 0;
      font-family: 'PT Sans',
      sans-serif;
}

body {
  margin: 0;
  @import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}