.filler-1 {
    margin-left: -10px;
    height: 20px;
    margin-top: 40px;
    margin-right: 20px;
    filter:opacity(60%)
}
.filler-1-bottom {
    margin-left: 40px;
    height: 20px;
    margin-top: 0px;
    margin-right: 20px;
    filter: opacity(60%)
}

@media only screen and (max-width: 480px) {

    .filler-1-bottom {
        display: none;
    }
}